body {
  margin:40px auto;
  max-width:650px;
  line-height:1.6;
  font-size:18px;
  font-family:'Inter', serif;
  color:#FFF;
  /* background-color: #1F1F1F; */
  /* background-color: #12111F; */
  background-image: linear-gradient(to bottom right, #12111F, #0C1920);
  padding:0 10px
}
h1,h2,h3 {
  line-height:1.2;
  font-family: "Montserrat", serif;
}
table.tableizer-table {
  font-size: 18px;
  border: 1px solid #CCC;
}
.tableizer-table td {
  padding: 4px;
  margin: 3px;
  border: 1px solid #CCC;
}
.tableizer-table th {
  background-color: #000000;
  color: #FFF;
  font-weight: bold;
}
img {
  max-width: 100%;
}
a:link, a:visited, a:hover, a:active {
  text-decoration: none;
  color:#a68bfe;
}
